.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ea1e63;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    line-height: 1em;
    /* opacity: 0.7; */
    cursor: pointer;
    box-shadow: 0 4px 6px #0005;
    text-decoration: none;
    user-select: none;

    
}


.btn:hover {
  /* opacity: 1; */
  background-color: #9f1443;
}